# Kaggle Submission

This is a notebook that just formats data for a kaggle submission with the results of previous notebooks.

In [110]:
import pickle
import pandas as pd
import numpy as np
import patsy
import re

Previous results are loaded to be used later.

In [111]:
name = 'lessout'

In [112]:
fileObj = open('./pickles/formula'+name+'.pkl', 'rb')
formula = pickle.load(fileObj)
fileObj.close()

In [113]:
fileObj = open('./pickles/model'+name+'.pkl', 'rb')
model = pickle.load(fileObj)
fileObj.close()

In [114]:
fileObj = open('./pickles/scaler'+name+'.pkl', 'rb')
scaler = pickle.load(fileObj)
fileObj.close()

In [115]:
fileObj = open('./pickles/columns'+name+'.pkl', 'rb')
columns = pickle.load(fileObj)
fileObj.close()

The formula is first replaced so that the target is removed.

In [116]:
formula = formula[12:]

In [117]:
test = pd.read_csv('./data/test.csv', index_col=0)

In [118]:
test.columns = test.columns.map(lambda x: x.replace(' ', ''))\
                    .map(lambda x: re.sub('^2', 'Seco', x))\
                    .map(lambda x: re.sub('^1', 'Fir', x))\
                    .map(lambda x: re.sub('^3', 'Third', x))\
                    .map(lambda x: x.replace('/', ''))

The formatting procedure from the previous two steps is used, though it is only important that columns that were previously used are selected and the same model is imported.

In [119]:
test = test.drop('PID', axis=1).fillna(0)

In [120]:
test.MSSubClass = test.MSSubClass.astype('category')
test.YrSold = test.YrSold.astype('category')

In [121]:
x1 = patsy.dmatrix(formula, test)

There are different dummy columns created due to the difference in test and train csv's.  Because it was not dealt with before, we now set the columns between the two datasets equivalent.  The information exclusive to the test set will be lost, unfortunately.

In [122]:
test_cols = set(x1.design_info.column_names)

In [123]:
orig_cols = set(columns)

In [124]:
diff_cols1 = orig_cols.difference(test_cols)
diff_cols2 = test_cols.difference(orig_cols)

In [125]:
x1 = pd.DataFrame(x1, columns=x1.design_info.column_names)

In [126]:
len(diff_cols1)

30

In [127]:
len(diff_cols2)

11

In [128]:
for column in diff_cols1:
    x1[column] = 0
    
for column in diff_cols2:
    x1.drop(column, axis=1, inplace=True)

In [129]:
x1 = x1[columns]
x1 = scaler.transform(x1)

In [130]:
y1 = pd.DataFrame(model.predict(x1), index=test.index, columns=['SalePrice'])

In [131]:
y1.to_csv('./scores/predictions'+name+'.csv')

In [132]:
y1

          SalePrice
Id
2658  153895.684732
2718  157890.182894
2414  213869.765458
1989  101780.337738
625   177509.560929
333    86434.483243
1327  106436.055349
858   143054.094752
95    184891.094625
1568  169384.627864
2482  154288.863987
1364  117897.086603
2584  144188.583451
818   288395.134615
2673  144661.097200
2089  123757.434461
1297  165948.959321
790   117793.627392
2616  205155.715140
720   192972.795564
222   154728.011730
557   132939.263322
1148  196335.221879
2766  177906.768133
534   177298.985016
1452  120952.530269
630   118585.877497
2648  116665.581914
125   160615.988740
1904   62531.906420
...             ...
933   103703.343106
2784  162178.824333
972   170765.212705
599   169783.613044
2614  123609.452553
2582  155300.395407
1409  176326.185558
175    81000.125947
352   223267.979952
976    99597.212773
2134  190663.930051
984   117351.942962
2396  362683.483574
1673  136616.462595
404   115756.591786
607   160738.072654
814   154172.892527
868   190754.887850
2271  196661.537665
1633  239321.194036
337   169460.045284
2765  190212.800961
1746  234879.313894
368   338133.128285
2806  206702.961364
1662  187523.982728
1234  205337.315116
1373  124621.344304
1672  118699.657445
1939  129796.896906

[879 rows x 1 columns]